<app-header/>
<app-booster-counter/>
<h2 class="info-battle battle-title">Qui est le plus mignon de tous ?</h2>
<div class="info-battle boosters" [ngClass]="{ 'disabled-text': !hasBoosters() }">
  <input type="checkbox" [disabled]="!hasBoosters()" [(ngModel)]="useBooster" />Utiliser un booster de voix pour ce match
</div>

<div class="battle-cards">
  <div class="battle-container">   
    <div class="battle-card left">
      <div class="info">
        <p class="name">Chat 1</p>
      </div>
      <div class="image-wrapper">
        <img [src]="firstContender?.url" alt="Cat 1" />
      </div>
      <button class="vote-button" (click)="registerVote(firstContender?.id)">Voter</button>
  </div>
</div> 

<div class="battle-container">   
  <div class="battle-card right">
      <div class="info">
        <p class="name">Chat 2</p>
      </div>
      <div class="image-wrapper">
        <img [src]="secondContender?.url" alt="Cat 2" />
      </div>
      <button class="vote-button" (click)="registerVote(secondContender?.id)">Voter</button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showEndOfBattleSessionMessage">
  <div class="popup">
    <h2>Vous avez voté sur l'ensemble des chats de la compétition !</h2>
    <p>Que souhaitez-vous faire maintenant ?</p>

    <div class="buttons">
      <button (click)="goToRanking()">Accéder au classement global</button>
      <button (click)="resumeInfiniteMode()">Continuer en mode infini</button>
    </div>
  </div>
</div>

<app-bottom-tab [message]="bottomTabMessage" [redirectionPath]="bottomTabRedirectionPath"></app-bottom-tab>
