body {
  cursor: url('assets/cursors/cursor-point.png'), auto;
}
button, a, [role="button"], .clickable {
  cursor: url('assets/cursors/cursor-click.png'), pointer;
}
html, body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --light-orange: #feb596;
  --light-green: rgb(121, 213, 109);;
}
